<content>
  <sidebar></sidebar>
  <div class="l-content">
  <title-bar></title-bar>
  <article>
      <div class="l-narrowed">
        <h1 class="h1" ng-bind="citizenRight.instrument"></h1>
        <p class="h2" ng-bind="citizenRight.localName | localNameLabelled"></p>
        <p class="p" ng-bind="citizenRight.level | politicalLevelLabelled"></p>
        <p class="p" ng-bind="citizenRight.introduction"></p>
        <p class="p" ng-bind="citizenRight.explanation"></p>
        <a class="t-c t-c-hover-shade" href="citizenRight.url">Read more</a>
      </div>
    </article>
  </div>
<content>
